.headerimg {
    margin-top: 3px;
    text-align: center; 
}

.infosBox {
    text-align: center; 
}

.flexbox {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-button {
    height: 86px;
    min-height: max-content;
    margin: 0px 7px;
    font-size: 21px; 
}