<ion-content>
    <div class="bgImg">
        <br>
        
        <div class="homeButton">
            <ion-button fill="clear" routerLink="/home">
                <img src="../../assets/page3/homebutton.png"> 
            </ion-button>
        </div>
        <br>
        <div class="podcastTitle">
            <img src="../../assets/page3/podcast.png"> 
        </div>
        <br>
        <br>
        <br> 
        <div class="podcastBox">
             <div class="podcastgrid">
            <ion-grid>
            <ion-row>
                <ion-col size="6" size-md>
                    <div>
                        <img class="podcastimg" src="../../assets/page3/podcastbutton.png">  
                    </div>
                    <div class="buttonBox">
                        <ion-button fill="clear" class="playbutton" routerLink="/player"> 
                            <img src="../../assets/page3/playbutton.png">
                        </ion-button>
                        <p>Podcast name</p>
                    </div>
                </ion-col>  
                <ion-col size="6" size-md>   
                    <div>
                        <img class="podcastimg" src="../../assets/page3/podcastbutton.png">  
                    </div>
                    <div class="buttonBox">
                        <ion-button fill="clear" class="playbutton">
                            <img src="../../assets/page3/playbutton.png">
                        </ion-button>
                        <p>Podcast name</p> 
                    </div>
                </ion-col>  
            </ion-row>
        </ion-grid>
        </div>
        </div>
        
    </div>
</ion-content> 
 