<ion-content> 
    <div class="bgImg">
        <div class="homeBox">
            <br>
            <img src="../../assets/page2/home.png"> 
            <p>Bienvenue utilisateur</p> 
        </div>
        <br>
        
        <div class="contentBox">
            <ion-grid>
             <ion-row>
                <ion-col>
                    <div class="pulser">
                        <ion-button fill="clear" routerLink="/pulser">
                            <img src="../../assets/page2/Pulser.png"> 
                        </ion-button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <br>
                        <ion-text>
                            OUTILS D'ORGANISATION ET DE RAPPEL
                        </ion-text>
                    </div>
                </ion-col>
              </ion-row>
              <br>
              <br>
              <ion-row>
                  <ion-col>
                      <div>
                          <br>
                          <ion-text>
                              RETROUVE ICI L'ENSEMBLE DES PODCASTS 
                          </ion-text>
                      </div>
                  </ion-col>
                  <ion-col>  
                      <div class="podcast"> 
                        <ion-button fill="clear" routerLink="/podcast"> 
                            <img src="../../assets/page2/Podcast.png"> 
                        </ion-button> 
                    </div>
                  </ion-col>
              </ion-row>
        </ion-grid>
        </div>
        
    </div> 
</ion-content> 
 